.primary-color {
    -fx-background-color: #1F3F60;
}

.cyan-color {
    -fx-background-color: #74D9E2;
}

.green-blue-color {
    -fx-background-color: #59A9A4;
}

.orange-color {
    -fx-background-color: #FF853B;
}

.green-lemon-color {
    -fx-background-color: #A2D65D;
}

.blue-color {
    -fx-background-color: #3C6A9E;
}

.secondary-color {
    -fx-background-color: #120E20;
}

.primary-color-light {
    -fx-background-color: #615E6A;
}

.circle {
    -fx-background-radius: 15px;
}

.reset-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.create-flashcard-text {
    -fx-fill: #fff;
    -fx-cursor: hand;
}

.create-flashcard-text:hover {
    -fx-fill: #8d8c8c;
    -fx-cursor: hand;
}

.button {
    -fx-cursor: hand;
}

.button-icon {
    -fx-fill: #f1f5f9;
}

.button:hover .button-icon {
    -fx-fill: #8d8c8c;
}

.button:focused {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button-style {
    -fx-background-color: #fff;
    -fx-cursor: hand;
    -fx-border-width: 2;
    -fx-border-color: #fff;
    -fx-border-radius: 15;
    -fx-background-radius: 15;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button-style:focused {
    -fx-border-width: 2;
    -fx-border-color: #fff;
}

.button-style:hover {
    -fx-background-color: #120E20;
    -fx-text-fill: #fff;
    -fx-border-color: #8d8c8c;
}

.button-style:focused:hover {
    -fx-background-color: #120E20;
    -fx-text-fill: #fff;
    -fx-border-color: #8d8c8c;
}

.create-acc-label {
    -fx-text-fill: #615e6a;
}

.create-acc-label:hover {
    -fx-text-fill: #958fa8;
    -fx-cursor: hand;
}

.button-style-secondary {
    -fx-background-color: #fff;
    -fx-cursor: hand;
    -fx-border-width: 2;
    -fx-border-color: #fff;
    -fx-border-radius: 15;
    -fx-background-radius: 15;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button-style-secondary:focused {
    -fx-border-width: 2;
    -fx-border-color: #fff;
}

.button-style-secondary:hover {
    -fx-background-color: #1F3F60;
    -fx-text-fill: #fff;
    -fx-border-color: #8d8c8c;
}

.button-style-secondary:focused:hover {
    -fx-background-color: #1F3F60;
    -fx-text-fill: #fff;
    -fx-border-color: #8d8c8c;
}
.material-radio .radio {
    -fx-border-width: 2px;
    -fx-border-color: #8d8c8c;
    -fx-background-color: transparent;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-padding: 6px;
}

.material-radio:selected .dot {
    -fx-background-color: #3B82F6;
    -fx-background-radius: 50%;
    -fx-padding: 4px;
    -fx-translate-y: -0.5px;
}

.material-radio:selected .radio {
    -fx-border-color: #3B82F6;
}

/* Hover */
.material-radio:hover .radio {
    -fx-border-color: #3B82F6;
}

.yellow-feedback {
    -fx-background-color: rgba(255, 191, 0, 0.15); /* amarelo claro transparente */
    -fx-text-fill: #b88600; /* amarelo escuro */
    -fx-padding: 8px 10px;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
}

.red-feedback {
    -fx-background-color: rgba(239, 68, 68, 0.15); /* vermelho suave */
    -fx-text-fill: #b91c1c; /* vermelho forte */
    -fx-padding: 8px 10px;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
}

.green-feedback {
    -fx-background-color: rgba(34, 197, 94, 0.15); /* verde suave */
    -fx-text-fill: #15803d; /* verde forte */
    -fx-padding: 8px 10px;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
}
